.DS_STORE
config.make
Makefile
Project.xcconfig
THREADBARE_v1.xcodeproj/
openFrameworks-Info.plist
bin/THREADBARE_v1Debug.app/
bin/data/test_video/
bin/data/Threadbare_voiceover.mp3
bin/data/THREABARE_v2/
bin/data/THREADBARE_v6/
bin/data/THREADBARE_v52/
bin/data/THREADBARE_v42/
bin/data/THREADBARE_v3/
bin/data/THREADBARE_*
